{% extends 'base.html.twig' %}

{% block title %}Liste des contributions{% endblock %}

{% block body %}
    <div class="ui container">
        <h1 class="ui header">Liste des contributions</h1>
        
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Montant</th>
                    <th>Projet</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contribution in contributions %}
                    <tr>
                        <td>{{ contribution.montant }}</td>
                        <td>{{ contribution.projet.titre }}</td>
                        <td>
                            {# <a href="{{ path('contribution_edit', {'id': contribution.id}) }}" class="ui button">Modifier</a> #}
                            {# <form action="{{ path('contribution_delete', {'id': contribution.id}) }}" method="post" style="display:inline;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contribution.id) }}"> #}
                                {# <button type="submit" class="ui red button">Supprimer</button> #}
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('contribution_new') }}" class="ui primary button">Ajouter une contribution</a>
    </div>
{% endblock %}
